
  
<div   th:fragment="headernavmenu" >
    <div  class="row">
            <div id="topbar">
                
                
                    <a href="/booking-mvc/login">Login</a>
                
            </div>
            <div id="logo">
                <p>
                    <a href="/booking-mvc/">
                        <img src="images/header.jpg" alt="Spring Travel" />
                    </a>
                </p>
            </div>
    </div>
</div>

<div   th:fragment="mysidemenu" >
	<div id="header">
            

            <div id="local" class="span-6">
                <p>
                    <a href="https://www.thespringexperience.com">
                        <img src="images/diplomat.jpg" alt="generic hotel" />
                    </a>
                </p>
                <p>
                    <a href="https://www.thespringexperience.com">
                        <img src="images/springone2gx.jpeg" alt="SpringOne 2GX" />
                    </a>
                </p>
            </div>
    </div>

    <hr />
	<div id="footer">
		<a href="https://www.springframework.org">
			<img src="images/powered-by-spring.png" alt="Powered by Spring" />
		</a>
	</div>
</div>